!!! 5
html(lang="en")
    head
        title= pageTitle
        script(src="{{ url_for('static', filename = 'js/reader.js') }}")
    body
        h1.title reader page
    #container
        ul
            {% for i in temp_hash_list %}
            li
                img(src='http://127.0.0.1:8000/{{ i }}.jpg')
            {% endfor %}